body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Times New Roman", "Yu Mincho", serif;
}

a {
    color: #551a8b;
}

form {
    white-space: nowrap;
}

form label {
    display: inline;
}

form input[type="text"],
form input[type="email"],
form textarea,
form input[type="submit"] {
    display: inline;
    vertical-align: middle;
}

form textarea {
    height: 3em;
    vertical-align: middle;
}
